extends ../layout

block content
  .row
    .col-xs-12
      table.table
        thead
        tbody
          for upgrade in upgrades
            tr
              td
                - var stringify = JSON.stringify(upgrade, null, 2);
                pre=stringify